/*header section css start*/
header.site_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 30px;
}
header.site_header a.header_logo {
    display: table;
}
header.site_header a.header_logo.open_menu {
    z-index: 1;
    position: relative;
}
header.site_header a.header_logo svg {
    margin-left: auto;
    display: block;
    height: auto;
}
header.site_header a.header_logo svg text {
    transition: all 1s ease 0s;
}
header.site_header a.header_logo svg text {
    fill: #fff;
}
header.site_header a.header_logo .logo_black {
    width: 0px;
    transition: all 1s ease 0s;
}
header.site_header.inner_page_header a.header_logo .logo_black,
header.site_header a.header_logo.open_menu .logo_black,
.viewing-page-1 header.site_header a.header_logo .logo_black{
    width: 207px;
}
header.site_header a.header_logo.open_menu .logo_black,
header.site_header a.header_logo.open_menu svg {
    display: block;
}
header.site_header a.header_logo .logo_green {
    display: none;
}
.viewing-page-2 header.site_header a.header_logo svg,
.viewing-page-3 header.site_header a.header_logo svg,
.viewing-page-4 header.site_header a.header_logo svg,
.viewing-page-5 header.site_header a.header_logo svg,
.viewing-page-6 header.site_header a.header_logo svg {
    max-width: 85px;
    height: auto;
}
header.site_header.inner_page_header a.header_logo svg text,
header.site_header a.header_logo.open_menu svg text,
.viewing-page-2 header.site_header a.header_logo svg text,
.viewing-page-3 header.site_header a.header_logo svg text,
.viewing-page-4 header.site_header a.header_logo svg text,
.viewing-page-5 header.site_header a.header_logo svg text,
.viewing-page-6 header.site_header a.header_logo svg text {
    fill: #36C200;
}
header.site_header a.header_logo.open_menu svg {
    max-width: 153px;
}
header.site_header nav.custom_navbar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.4s;
}
header.site_header nav.custom_navbar.navbar_animate {
    top: 0;
}
header.site_header ul.custom_navbar_links li a {
    font-size: 40px;
    line-height: 90px;
    color: #232323;
    font-weight: 900;
    margin: 20px 0;
    display: block;
}
.navbar_toggler {
    padding: 0;
    height: 80px;
    width: 80px;
    border: none;
    outline: none !important;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 9999;
    display: block;
    box-shadow: 3px 3px 6px 0 rgb(0 0 0 / 16%) !important;
}
.navbar_toggler .navbar_toggler_inner,
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    width: 5px;
    height: 5px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform;
    border-radius: 6px;
    background-color: #232323;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar_toggler .navbar_toggler_inner{
    transition: top 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
}
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    display: block;
    content: "";
}
.navbar_toggler .navbar_toggler_inner:before {
    transition: top 75ms ease 0.12s,opacity 75ms ease;
    top: -12px;
}
.navbar_toggler .navbar_toggler_inner:after {
    transition: bottom 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    bottom: -12px;
}


.navbar_toggler.open_menu .navbar_toggler_inner {
    transition: top 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(45deg);
    top: 0;
    width: 40px;
    height: 2px;
}
.navbar_toggler.open_menu .navbar_toggler_inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease 0.12s;
    opacity: 0;
    width: 40px;
    height: 2px;
}
.navbar_toggler.open_menu .navbar_toggler_inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(-90deg);
    width: 40px;
    height: 2px;
}
header.site_header nav.custom_navbar .copyright_text {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #939393;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    padding: 0 32px;
}
.social_icon {
    position: fixed;
    left: 30px;
    bottom: 40px;
    z-index: 111;
}
.social_icon.open_menu {
    z-index: 1111;
}
.social_icon li:first-child {
    margin-bottom: 36px;
}
.social_icon ul li a {
    color: #fff;
    font-size: 23px;
    transition: all 1s ease 0s;
}
.social_icon.open_menu ul li a {
    color: #000;
}
.viewing-page-2 .social_icon ul li a,
.viewing-page-3 .social_icon ul li a,
.viewing-page-4 .social_icon ul li a,
.viewing-page-5 .social_icon ul li a,
.viewing-page-6 .social_icon ul li a {
    color: #000;
}
/*header section css end*/

/*responsive css start*/
@media(max-width: 1700px) {
    .navbar_toggler {
        top: 15px;
    }
}
@media(max-width: 1500px) {
    header.site_header {
        padding: 15px;
    }
    header.site_header a.header_logo.open_menu .logo_black, 
    .viewing-page-1 header.site_header a.header_logo .logo_black,
    header.site_header a.header_logo img {
        width: 170px;
    }
    header.site_header a.header_logo.open_menu svg,
    header.site_header a.header_logo svg {
        width: 127px;
    }
    .navbar_toggler {
        height: 60px;
        width: 60px;
        right: 15px;
    }
    .social_icon li:first-child {
        margin-bottom: 24px;
    }
}
@media(max-width: 675px) {
    header.site_header ul.custom_navbar_links li a {
        font-size: 30px;
        line-height: 70px;
        margin: 10px 0;
    }
    header.site_header a.header_logo.open_menu .logo_black, 
    .viewing-page-1 header.site_header a.header_logo .logo_black,
    header.site_header a.header_logo img {
        width: 150px;
    }
    header.site_header a.header_logo.open_menu svg, 
    header.site_header a.header_logo svg {
        width: 113px;
    }
    .navbar_toggler {
        height: 45px;
        width: 45px;
    }
    .navbar_toggler.open_menu .navbar_toggler_inner,
    .navbar_toggler.open_menu .navbar_toggler_inner:before,
    .navbar_toggler.open_menu .navbar_toggler_inner:after {
        width: 30px;
        height: 2px;
    }
    .navbar_toggler .navbar_toggler_inner:before {
        top: -10px;
    }
    .navbar_toggler .navbar_toggler_inner:after {
        bottom: -10px;
    }
    .social_icon ul li a {
        font-size: 18px;
    }
}
/*responsive css end*/