body {
	background-color: #BFD746;
}
.vertical_slider_main {
    min-height: 100vh;
    min-width: 100vw;
    transition: transform 1s ease 0s !important;
}
.vertical_slider_main section {
	background-color: #ffffff;
	overflow: hidden;
    visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transform-style: preserve-3d;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    transition: all 1s;
}
.vertical_slider_main section.previous_active {
	visibility: hidden;
    opacity: 0;
    transform: translate3d(-45%, -150%, 20px);
}
.vertical_slider_main section.active {
	transform: matrix(1, 0, 0, 1, 0, 0);
	visibility: inherit;
    opacity: 1;
}
.vertical_slider_main section.next_active {
	visibility: hidden;
    opacity: 0;
    transform: translate3d(45%, 150%, 20px);
}