/*common css start*/
body {
    background-color: #CED1D0;
}
.vertical_slider_main {
    min-height: 100vh;
    min-width: 100vw;
    transform: none !important;
    transition: all 0s !important;
}
.vertical_slider_main section {
    overflow: hidden;
    min-height: 100vh;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    transition: transform 1s cubic-bezier(0.72, 0, 0.35, 0.99) 0s;
    visibility: hidden;
}
.vertical_slider_main section > div {
    background-color: #ffffff;
    transition: transform 1s cubic-bezier(0.72, 0, 0.35, 0.99) 0s, visibility 1s cubic-bezier(0.72, 0, 0.35, 0.99) 0s;
}
.vertical_slider_main section.previous_active {
    transform: translate3d(-20%, -100%, 0px);
    /*top: -100% !important;*/
}
.vertical_slider_main section.previous_active > div {
    transform: scale(0.5, 0.5);
}
.vertical_slider_main section.active {
    transform: translate3d(0%, 0%, 0px);
    visibility: visible;
    /*top: 0 !important;*/
}
.vertical_slider_main section.active > div {
    transform: scale(1, 1);
}
.vertical_slider_main section.next_active {
    transform: translate3d(20%, 100%, 0px);
    /*top: 100% !important;*/
}
.vertical_slider_main section.next_active > div {
    transform: scale(0.5, 0.5);
}
ul.onepage-pagination {
    position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    z-index: 111;
}
ul.onepage-pagination li {
    margin: 10px 4px;
    font-size: 0px;
}
ul.onepage-pagination li a {
    font-size: 0px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #CED1D0;
    transition: all 0.3s;
    display: table;
}
ul.onepage-pagination li a.active {
    background-color: #36C200;
}
.slider_next {
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 111;
    border: 2px solid #232323;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: transparent;  
}
.viewing-page-1 .slider_next {
    color: #fff;
    border-color: #fff;
}
.slider_next i {
    font-size: 16px;
}
/*common css end*/

/*banner section css start*/
.banner_animated_section {
    position: relative;
    height: 100vh;
    min-width: 100vw;
    z-index: 11;
}
.banner_animated_section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.intro__base {
    overflow: hidden;
}
.intro__base div {
    position: absolute;
    top: 0;
    left: -5%;
    right: -5%;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro__base div:first-child {
    background-image: url(../images/intro_lights_1.png);
}
.intro__base div:last-child {
    background-image: url(../images/intro_lights_2.png);
}
.banner_contnet {
    position: absolute;
    top: 330px;
    right: 360px;
}
.banner_contnet h2 {
    font-size: 133px;
    line-height: 160px;
    color: #FFFFFF;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.banner_contnet h3 {
    font-size: 65px;
    line-height: 90px;
    color: #97C4C9;
    font-weight: 900;
    text-shadow: 3px 3px 0px #fff;
}
.banner_animated_section .slider_next {
    color: #fff;
    border-color: #fff;
}
/*banner section css end*/

/*mesage section css start*/
.message_section {
    position: relative;
    background-color: #F2F8F7;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.message_section .custom_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.common_heading {
    text-align: center;
}
.common_heading img {
    margin: auto;
}
.common_heading h2 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 900;
    color: #36C200;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.common_heading p {
    font-size: 30px;
    line-height: 48px;
    font-weight: 900;
    text-shadow: 3px 3px 0px #fff;
    color: #24650B;
}
.message_content {
    margin-top: 60px;
}
.message_content p {
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    font-weight: 900;
    color: #232323;
}
/*mesage section css end*/

/*policy section css start*/
.policy_section {
    position: relative;
    background-image: url("../images/policy_bg_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.policy_section .custom_container {
    max-width: 100% !important;
    padding-right: 0;
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.policy_content_sec {
    width: 100%;
}
.policy_section .custom_row {
    margin: 0;
}
.policy_content_sec .custom_col_image {
    -ms-flex: 0 0 580px;
    flex: 0 0 580px;
    max-width: 580px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    min-height: 100vh;
}
.policy_content_sec .custom_col_text {
    -ms-flex: 0 0 calc(100% - 580px);
    flex: 0 0 calc(100% - 580px);
    max-width: calc(100% - 580px);
    padding-bottom: 30px;
    min-height: 100vh;
}
.policy_content_sec .policy_content > p {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    color: #323232;
    margin: 10px 0;
}
.policy_content_text .custom_row {
    align-items: center;
    margin-bottom: 20px;
}
.policy_content_sec .custom_image_col {
    -ms-flex: 0 0 228px;
    flex: 0 0 228px;
    max-width: 228px;
}
.policy_content_sec .custom_text_col {
    -ms-flex: 0 0 calc(100% - 228px);
    flex: 0 0 calc(100% - 228px);
    max-width: calc(100% - 228px);
    padding-left: 35px;
}
.policy_content_text {
    width: 100%;
    padding-right: 120px;
}
.policy_content_text h3 {
    font-size: 50px;
    color: #36C200;
    line-height: 60px;
    font-weight: 900;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.policy_content_text h3 span {
    font-size: 24px;
    line-height: 30px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;    
}
.policy_content_text p {
    font-size: 16px;
    line-height: 30px;
    color: #232323;
    font-weight: 500;
}
.policy_content_sec .more_btn {
    margin: auto;
}
.more_btn {
    display: table;
    width: 100%;
    max-width: 222px;
    box-shadow: -4px -4px 4px #ffffff, 5px 5px 10px rgb(99 109 118 / 60%);
    text-align: center;
    height: 70px;
    line-height: 65px;
    border-radius: 40px;
    transition: all 0.4s;
    font-size: 16px;
    color: #232323;
    font-weight: 500;
    background-color: #F2F8F7;
    letter-spacing: 1px;
}
.policy_content .slick-dots {
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 0;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.policy_content .slick-dots li {
    margin: 0 4px;
}
.policy_content .slick-dots li::marker {
    font-size: 0px;
}
.policy_content .slick-dots li button {
    font-size: 0px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #CED1D0;
    transition: all 0.3s;
}
.policy_content .slick-dots li.slick-active button {
    background-color: #36C200;
}
/*policy section css end*/

/*action section css start*/
.action_section {
    position: relative;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
}
.action_text_sec {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
}
.action_text_sec:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    max-width: 1790px;
    z-index: 0;
    border-radius: 0 10px 0 0;
}
.action_section .action_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.action_section .custom_container {
    max-width: 1640px;
    padding: 0px 20px;
}
.action_heading .custom_row {
    margin: 0;
}
.action_profile .custom_row {
    flex-direction: row-reverse;
}
.action_content_sec {
    position: relative;
    z-index: 1;
}
.action_section .action_heading {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 40px;
}
.action_heading .action_heading_col {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.action_content_sec .common_heading img {
    margin: 0;
}
.action_heading .custom_image_col {
    -ms-flex: 0 0 110px;
    flex: 0 0 110px;
    max-width: 110px;
}
.action_heading .custom_text_col {
    -ms-flex: 0 0 calc(100% - 110px);
    flex: 0 0 calc(100% - 110px);
    max-width: calc(100% - 110px);
}
.action_heading .profile_text {
    padding-right: 14px;
}
.action_heading .profile_text h3 {
    font-size: 30px;
    line-height: 32px;
    color: #232323;
    text-align: right;
    margin-top: 6px;
}
.action_heading .profile_text h3 span {
    font-size: 24px;
}
.action_heading .profile_text h6 {
    font-size: 20px;
    line-height: 30px;
    color: #232323;
    text-align: right;
}
.action_heading .profile_text p {
    font-size: 12px;
    line-height: 30px;
    color: #939393;
    text-align: right;
    margin-top: 15px;
}
.action_heading .profile_image {
    position: relative;
    overflow: hidden;
    padding-top: 114%;
    border-radius: 10px;
}
.action_heading .profile_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.action_content_box_sec {
    margin: 0 -17px;
}
.action_content_box_sec .slick-slide {
    margin: 0px 17px;
}
.action_content_box_sec .action_content_box p {
    font-size: 16px;
    line-height: 30px;
    color: #939393;
    font-weight: 400;
    margin-bottom: 10px;
}
.action_content_box_sec .action_content_box_image {
    position: relative;
    overflow: hidden;
    padding-top: 68.3%;
    border-radius: 10px;
}
.action_content_box_sec .action_content_box_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}
.action_content_box_sec .action_content_box:hover img {
    transform: scale(1.1);
}
.action_content_box_sec .action_content_box h4 {
    font-size: 30px;
    color: #232323;
    font-weight: 900;
    margin-top: 18px;
    letter-spacing: -0.1px;
    transition: all 0.4s;
}
.action_content_box_sec .action_content_box:hover h4 {
    color: #36C200;
}
.action_content_sec .more_btn {
    margin-top: 20px;
}
/*action section css end*/

/*makoto section css start*/
.makoto_section {
    background-image: url('../images/makoto_bg_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
    position: relative;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.makoto_section .custom_container {
    display: -ms-flexbox;
    display: flex;
    max-width: 1430px;
}
.makoto_section .makoto_content {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.makoto_content .custom_row {
    width: 100%;
}
.makoto_content .custom_col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    position: relative;
}
.makoto_content_image img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 90vh;
    max-height: 90vh;
    object-position: bottom;
    object-fit: contain;
    margin: auto;
}
.makoto_content .custom_col.custom_align_items_end {
    align-items: flex-end;
}
.makoto_content_text h5 {
    font-size: 23px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 8px;
    color: #232323;
}
.makoto_content_text h5 span {
    font-size: 14px;
}
.makoto_content_text h6 {
    font-size: 16px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 20px;
    color: #232323;
}
.makoto_content_text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #232323;
}
.makoto_content_text {
    width: 100%; 
    max-width: 445px; 
    margin: auto;
}
/*makoto section css end*/

/*footer css start*/
.site_footer {
    background-color: #F2F8F7;
    height: 100vh;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}
.site_footer .custom_container {
    max-width: 1678px;
    padding: 0px 39px;
}
.site_footer .custom_row {
    margin: 0px -39px;
}
.footer_btns .custom_col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 39px;
}
.footer_btn a {
    padding: 40px 30px;
    cursor: pointer;
    background-color: #F2F8F7;
    border-radius: 20px;
    transition: all 0.4s;
    box-shadow: -4px -4px 4px #ffffff, 5px 5px 10px rgb(99 109 118 / 60%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: #232323;
}
.footer_btn a i{
    letter-spacing: 1!important;
}
.more_btn:hover {
    box-shadow: -3px -3px 6px #ffffff, 1px 1px 16px #36c200;
    color: #36c200;
    letter-spacing: 5px;
}
.footer_btn a:hover {
    box-shadow: -3px -3px 6px #ffffff, 1px 1px 16px #36c200;
    color: #36c200;
}
.footer_btn a span {
    transition: all 0.4s;
}
.footer_btn a:hover span {
    letter-spacing: 5px;
}
.social_icon_footer{
    width: 80px;
    height: 80px;
    background-color: #ECF1F0;
    box-shadow: inset 3px 3px 6px rgb(99 109 118 / 60%), inset 2px 2px 0 #ffffff;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.social_icon_footer i {
    color: #fff;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.6);
    font-size: 25px;
}
.footer_btn a .icon_right {
    font-size: 25px;
}
.icon_right {
    color: #939393;
}
.footer_copyright {
    text-align: center;
    margin-top: 194px;
}
.footer_copyright img {
    margin: auto;
}
.footer_copyright p {
    font-size: 12px;
    line-height: 30px;
    color: #939393;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}
.footer_logo {
    position: absolute;
    bottom: 40px;
    right: 30px;
}
.top_btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: table;
    text-align: center;
}
.top_btn img {
    margin: auto;
}
.top_btn p {
    font-size: 12px;
    line-height: 20px;
    color: #939393;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
}
/*footer css end*/

/*responsive css start*/
@media(max-width: 1919px) {
    .policy_content_text {
        padding: 20px 120px 40px 0;
    }
    .policy_section .custom_row {
        align-items: center;
    }
    .policy_content_sec .custom_col_text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
    }
    .policy_content {
        width: 100%;
        display: inline-block;
    }
    .footer_btns {
        padding: 0 40px;
    }
}
@media(max-width: 1800px) {
    .action_text_sec {
        margin-right: 120px;
        padding-left: 40px;
    }
}
@media(max-width: 1700px) {
    ul.onepage-pagination {
        right: 50px;
    }
    .custom_container {
        max-width: 1430px !important;
    }
    .banner_contnet {
        top: 140px;
        right: 300px;
    }
    .banner_contnet h3 {
        font-size: 55px;
        line-height: 80px;
    }
    .banner_contnet h2 {
        font-size: 120px;
        line-height: 140px;
    }
    .common_heading .first_heading {
        max-height: 100px;
    }
    .common_heading .second_heading {
        max-height: 43px;
    }
    .common_heading h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .common_heading p {
        font-size: 24px;
        line-height: 38px;
    }
    .message_content {
        margin-top: 20px;
    }
    .message_content p {
        font-size: 18px;
        line-height: 42px;
    }
    .policy_content_sec .custom_col_image {
        -ms-flex: 0 0 390px;
        flex: 0 0 390px;
        max-width: 390px;
    }
    .policy_content_sec .custom_col_text {
        -ms-flex: 0 0 calc(100% - 390px);
        flex: 0 0 calc(100% - 390px);
        max-width: calc(100% - 390px);
        padding-bottom: 30px;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }
    .policy_content_text_image img {
        max-width: 190px;
        width: 100%;
    }
    .policy_content_sec .custom_image_col {
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
        max-width: 200px;
    }
    .policy_content_sec .custom_text_col {
        -ms-flex: 0 0 calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
        max-width: calc(100% - 200px);
        padding-left: 25px;
    }
    .policy_content_sec .policy_content > p {
        font-size: 22px;
        line-height: 28px;
        margin: 5px 0;
    }
    .policy_content_text h3 {
        font-size: 44px;
        line-height: 45px;
    }
    .policy_content {
        width: 100%;
    }
    .policy_content_text_sec .custom_row {
        align-items: center;
        padding: 10px 0 30px;
    }
    .action_text_sec:before {
        max-width: 1510px;
    }
    .action_section .action_heading {
        padding: 20px 0 10px;
    }
    .action_heading .profile_text h3 {
        font-size: 22px;
        line-height: 32px;
        margin-top: 0;
    }
    .action_heading .profile_text h3 span {
        font-size: 18px;
    }
    .action_heading .profile_text p {
        font-size: 12px;
        line-height: 20px;
        margin-top: 8px;
    }
    .action_heading .profile_image {
        padding-top: 100%;
    }
    .action_content_box_sec .action_content_box p {
        line-height: 20px;
        margin-bottom: 10px;
    }
    .action_content_box_sec .action_content_box_image {
        padding-top: 60%;
    }
    .action_content_sec .more_btn {
        margin-top: 10px;
    }
    .action_content_box_sec .action_content_box h4 {
        font-size: 22px;
        margin-top: 10px;
        letter-spacing: 0;
    }
    .action_profile .custom_row {
        align-items: center;
    }
    .site_logo {
        padding: 15px 30px;
    }
    .footer_btn h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    .footer_copyright {
        margin-top: 50px;
    }
    .policy_content .custom_container {
        align-items: center;
    }
    .policy_image img {
        position: absolute;
        left: 0;
        bottom: 0;
        min-height: 90vh;
        max-height: 90vh;
        object-position: left bottom;
        object-fit: contain;
        min-width: 45vw;
    }
}
@media(max-width: 1500px) {
    ul.onepage-pagination {
        right: 35px;
    }
    .social_icon {
        left: 15px;
        bottom: 15px;
    }
    .slider_next {
        right: 15px;
        bottom: 15px;
    }
    .banner_contnet {
        top: 150px;
        right: 240px;
    }
    .banner_contnet h3 {
        font-size: 45px;
        line-height: 64px;
    }
    .banner_contnet h2 {
        font-size: 80px;
        line-height: 100px;
    }
    .common_heading .first_heading {
        max-height: 80px;
    }
    .common_heading .second_heading {
        max-height: 40px;
    }
    .common_heading h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .common_heading p {
        font-size: 20px;
        line-height: 28px;
    }
    .action_content_box_sec .action_content_box h4 {
        font-size: 20px;
    }
    .action_text_sec {
        margin-right: 80px;
        padding-left: 30px;
    }
    .action_content_box_sec {
        margin: 0 -15px;
    }
    .action_content_box_sec .slick-slide {
        margin: 0px 15px;
    }
    .footer_btns {
        padding: 0 34px;
    }
    .site_footer .custom_row {
        margin: 0px -15px;
    }
    .footer_btns .custom_col {
        padding: 0 15px;
    }
    .footer_btn h2 {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    .footer_copyright img {
        margin: auto;
        max-width: 100px;
    }
    .footer_logo {
        bottom: 15px;
        right: 15px;
    }
    .policy_content_sec .policy_content > p {
        font-size: 20px;
    }
    .policy_content_sec .custom_col_image {
        -ms-flex: 0 0 370px;
        flex: 0 0 370px;
        max-width: 370px;
    }
    .policy_content_sec .custom_col_text {
        -ms-flex: 0 0 calc(100% - 370px);
        flex: 0 0 calc(100% - 370px);
        max-width: calc(100% - 370px);
    }
    .policy_content_sec .custom_image_col {
        -ms-flex: 0 0 180px;
        flex: 0 0 180px;
        max-width: 180px;
    }
    .policy_content_sec .custom_text_col {
        -ms-flex: 0 0 calc(100% - 180px);
        flex: 0 0 calc(100% - 180px);
        max-width: calc(100% - 180px);
        padding-left: 18px;
    }
    .policy_content_text h3 {
        font-size: 36px;
        line-height: 40px;
    }
    .policy_content_text h3 span {
        font-size: 20px;
        line-height: 30px;
    }
    .policy_content_sec {
        padding-right: 75px;
    }
    .top_btn {
        bottom: 15px;
    }
    .policy_content_text {
        padding: 20px 0 0;
    }
    .footer_btn a {
        padding: 30px;
    }
    .social_icon_footer {
        width: 60px;
        height: 60px;
    }
    .social_icon_footer i {
        font-size: 20px;
    }
    .footer_heading img {
        max-height: 100px;
    }
    .more_btn {
        height: 59px;
        line-height: 53px;
    }
}
@media(max-width: 1166px) {
    .banner_contnet {
        top: auto;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: auto;
        display: table;
        text-align: center;
    }
    .banner_contnet h3 {
        font-size: 40px;
        line-height: 60px;
        text-shadow: 2px 2px 0px #fff;
    }
    .common_heading .first_heading {
        max-height: 70px;
    }
    .common_heading .second_heading {
        max-height: 35px;
    }
    .banner_contnet h2 {
        font-size: 70px;
        line-height: 90px;
    }
    .common_heading h2 {
        font-size: 42px;
        line-height: 45px;
    }
    .common_heading p {
        font-size: 18px;
        line-height: 24px;
    }
    .message_content p {
        font-size: 16px;
        line-height: 36px;
    }
    .action_heading .custom_image_col {
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        max-width: 90px;
    }
    .action_heading .custom_text_col {
        -ms-flex: 0 0 calc(100% - 90px);
        flex: 0 0 calc(100% - 90px);
        max-width: calc(100% - 90px);
    }
    .action_heading .profile_text h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .action_heading .profile_text h3 span {
        font-size: 16px;
    }
    .action_section {
        padding-right: 77px;
        align-items: center;
    }
    .action_text_sec {
        margin-right: 0;
    }
    .action_content_box_sec .action_content_box h4 {
        font-size: 18px;
        margin-top: 6px;
    }
    .makoto_section .makoto_content {
        padding: 0 30px;
    }
    .footer_btn h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .footer_copyright img {
        max-width: 70px;
    }
    .footer_copyright p {
        line-height: 20px;
        margin-top: 10px;
    }
    .footer_logo img {
        max-width: 160px;
    }
    .policy_content_sec .custom_col_image {
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
        max-width: 250px;
        align-items: center;
    }
    .policy_content_sec .custom_col_text {
        -ms-flex: 0 0 calc(100% - 250px);
        flex: 0 0 calc(100% - 250px);
        max-width: calc(100% - 250px);
    }
    .policy_content_sec .custom_image_col {
        -ms-flex: 0 0 140px;
        flex: 0 0 140px;
        max-width: 140px;
    }
    .policy_content_sec .custom_text_col {
        -ms-flex: 0 0 calc(100% - 140px);
        flex: 0 0 calc(100% - 140px);
        max-width: calc(100% - 140px);
        padding-left: 18px;
    }
    .policy_content_text h3 {
        font-size: 28px;
        line-height: 30px;
    }
    .policy_content_text h3 span {
        font-size: 16px;
        line-height: 30px;
    }
    .policy_content_text p {
        line-height: 25px;
    }
    .policy_content_sec .policy_content > p {
        font-size: 18px;
    }
    .more_btn img {
        max-width: 180px;
    }
    .policy_section .custom_container {
        align-items: center;
    }
    .makoto_content_image img {
        min-width: 55vw;
    }
    .policy_image img {
        left: -55%;
        bottom: -9%;
        min-width: 65vw;
    }
    .footer_btns .custom_col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 12px 0;
    }
}
@media(max-width: 900px) {
    .banner_animated_section:before {
        background-position: center;
    }
    .banner_contnet h3 {
        font-size: 34px;
        line-height: 50px;
    }
    .banner_contnet h2 {
        font-size: 60px;
        line-height: 70px;
    }
    .message_content {
        padding: 0 45px;
    }
    .policy_content_sec .custom_col_image {
        display: none;
    }
    .policy_content_sec .custom_col_text {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .policy_content_sec {
        padding-right: 55px;
        padding-left: 15px;
    }
    .action_section {
        padding-right: 65px;
    }
    .action_content_box_sec .action_content_box h4 {
        font-size: 16px;
    }
    .action_heading .action_heading_col:last-child {
        flex: 3 0 auto;
    }
    .common_heading h2 {
        font-size: 36px;
        line-height: 40px;
    }
    .action_heading .profile_text h6 {
        font-size: 18px;
        line-height: 28px;
    }
    .makoto_section .makoto_content {
        padding: 0 15px;
    }
    .makoto_content_text h5 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 25px;
    }
    .makoto_content_text h6 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .makoto_content .custom_col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        align-items: flex-start;
    }
    .makoto_content_text {
        max-width: 100%;
        margin: 0;
        padding: 18px 10px 0;
        text-align: center;
    }
    .common_heading .first_heading {
        max-height: 50px;
    }
    .common_heading .second_heading {
        max-height: 22px;
    }
    .footer_btn a {
        padding: 20px;
    }
    .social_icon_footer {
        width: 45px;
        height: 45px;
    }
    .social_icon_footer i {
        font-size: 16px;
    }
    .footer_btn a .icon_right {
        font-size: 20px;
    }
    .footer_heading img {
        max-height: 86px;
    }
}
@media(max-width: 675px) {
    .custom_container {
        padding: 0 15px !important;
    }
    ul.onepage-pagination {
        right: 10px;
    }
    .site_logo img {
        max-width: 128px;
    }
    .site_logo img:last-child {
        max-width: 93px;
    }
    .message_content {
        padding: 0 15px;
    }
    .message_content {
        margin-top: 10px;
    }
    .message_content p {
        line-height: 25px;
    }
    .policy_content_sec {
        padding: 0;
    }
    .action_heading .custom_text_col,.action_heading .custom_image_col,
    .policy_content_sec .custom_image_col, .policy_content_sec .custom_text_col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .policy_content_text_image img {
        max-width: 140px;
        max-height: 140px;
        margin: 0 auto 10px;
    }
    .action_section {
        padding-right: 28px;
        padding-top: 25px;
    }
    .action_heading .action_heading_col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .action_section .action_image {
        max-width: 160%;
    }
    .action_content_sec .common_heading {
        text-align: center;
        margin-bottom: 10px;
    }
    .action_heading .profile_image {
        padding-top: 25.4%;
        width: 80px;
        margin: auto;
    }
    .action_heading .profile_text h3, .action_heading .profile_text h6, .action_heading .profile_text p {
        text-align: center;
    }
    .action_heading .profile_text {
        padding-right: 0;
    }
    .action_section .action_heading {
        padding: 15px 0 10px;
    }
    .action_text_sec {
        padding-bottom: 0;
        padding-left: 20px;
    }
    .more_btn img {
        max-width: 160px;
    }
    .makoto_content_text {
        padding: 12px 0 0;
    }
    .makoto_content .custom_row {
        width: auto;
    }
    .makoto_content_text h5 {
        margin-bottom: 0px;
    }
    .makoto_content_text h6 {
        margin-bottom: 4px;
    }
    .footer_btns {
        padding: 0 20px;
    }
    .footer_logo img {
        max-width: 100px;
    }
    .footer_btn a {
        padding: 15px;
    }
    .more_btn {
        height: 50px;
        line-height: 45px;
        max-width: 190px;
    }
}
@media(max-width: 379px) {
    .policy_content_text p {
        line-height: 20px;
        font-size: 14px;
    }
}
/*responsive css end*/